PUBLIC_SUPABASE_URL=your-supabase-url-here
PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key-here
ADMIN_USER=superadmin
ADMIN_PASSWORD=your-password-here
MIDTRANS_SERVER_KEY=your-midtrans-server-key-here
MIDTRANS_IS_PRODUCTION=false
PUBLIC_MIDTRANS_CLIENT_KEY=your-midtrans-client-key-here
PUBLIC_MIDTRANS_IS_PRODUCTION=false
